body {
background-color: black;
}

header {
    text-align: center;
}

h2 {
font-size: 50px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: normal;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

footer {
    color: gray;
    bottom: 0;   
    text-align: right;   
}